---
import Section from './Section.astro';
import { work } from '@/cv';
---

<Section title="Experience">
  <ul class="flex flex-col gap-4">
    {
      work.map(
        ({
          company,
          employmentType,
          startDate,
          endDate,
          position,
          summary,
          url
        }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate !== null ? new Date(endDate).getFullYear() : 'Present';
          const years = `${startYear} · ${endYear}`;
          const link = url !== null ? url : null;
          const hover = url !== null ? 'hover:underline' : '';

          return (
            <li>
              <article>
                <header class="flex flex-col xs:flex-row justify-between items-start">
                  <div>
                    <div class="flex items-center">
                      <a href={link} class={`${hover}`} target="_blank">
                        <p class="text-base font-semibold text-[#222] mr-3 dark:text-slate-100">
                          {company}
                        </p>
                      </a>
                      {employmentType && (
                        <span class="rounded-md border bg-[#eee] py-0.5 px-1 font-medium text-xs dark:bg-slate-900">
                          {employmentType}
                        </span>
                      )}
                    </div>
                    <p class="text-base font-medium text-[#222] dark:text-slate-100">
                      {position}
                    </p>
                  </div>
                  <time>{years}</time>
                </header>
                <footer>
                  <p class="dark:text-slate-300">{summary}</p>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>
