---
import Section from './Section.astro';
import { projects } from '@/cv';
---

<Section title="Projects">
  <ul class="grid gap-4 template-columns auto-rows-fr">
    {
      projects.map(({ name, isActive, description, highlights, url }) => {
        return (
          <li class="h-full">
            <article class="flex flex-col gap-3 border border-[#f2f2f2] rounded-xl p-4 h-full">
              <header class="flex flex-col gap-1">
                <div class="flex flex-wrap gap-2">
                  <a
                    href={url}
                    target="_blank"
                    title={`Link to the project: ${name}`}
                    class="hover:underline"
                  >
                    <h3 class="text-base">{name}</h3>
                  </a>
                  <h4 class={isActive ? 'text-[#00BC2F]' : 'text-red-600'}>
                    &bull;
                  </h4>
                </div>
                <p class="text-sm leading-5 text-wrap">{description}</p>
              </header>
              <footer class="mt-auto">
                <ul class="inline-flex gap-2 flex-wrap">
                  {highlights &&
                    highlights.map((highlight) => {
                      return (
                        <li class="rounded-md border bg-[#eee] py-0.5 px-2 font-medium text-[0.6rem] dark:bg-black">
                          {highlight}
                        </li>
                      );
                    })}
                </ul>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
<style>
  .template-columns {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
</style>
